// Theme: Light Theme
// Target: common scss
// Last Edited: 2020-12-22 20:33:49 UTC

// HACKS (Display for Beta and Staff Users)
// body:not(.primary-group-theme-beta):not(.staff) {
//     .user-preferences .select-kit-row[data-name="Light"],
//     .menu-container-footer-links li[data-name="Light"],
//     .menu-container-footer-links div:first-child {
//         display: none;
//     }
// }

// MIXINS
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin inline-flexbox() {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}

@mixin order($number) {
    -webkit-box-ordinal-group: $number;
    -moz-box-ordinal-group: $number;
    -ms-flex-order: $number;
    -webkit-order: $number;
    order: $number;
}

@mixin align($alignment) {
    -webkit-box-align: $alignment;
    -ms-flex-align: $alignment;
    align-items: $alignment;
}

@mixin pack($val) {
    -webkit-box-pack: $val;
    -ms-flex-pack: $val;
}

@mixin semiBoldFont {
    font-family: "SamsungOne-600", Arial, sans-serif;
    font-weight: 600;
}

@mixin boldFont {
    font-family: "SamsungOne-700", Arial, sans-serif;
    font-weight: 700;
}

@mixin fancyLink {
    text-decoration: none;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background: $tertiary;
        visibility: hidden;
        border-radius: 4px;
        transform: scaleX(0);
        transition: .25s linear;
    }

    &:hover:before,
    &:focus:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

@mixin for-desktop-view {
  @media (max-width: 1440px) { @content; }
}

@mixin for-tablet-view {
  @media (max-width: 1024px) { @content; }
}

@mixin for-mobile-view {
  @media (max-width: 599px) { @content; }
}

@keyframes background-fade-dark {
  0% {
    background-color: darken($header-primary, 4%);
  }
  100% {
    background-color: $secondary;
  }
}

// TYPOGRAPHY
html,
body {
    font-family: "SamsungOne-400", Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

@font-face {
    font-family: "SamsungSharpSans-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("//d3s9xxce58xg55.cloudfront.net/fonts/SamsungSharpSans-Bold.eot");
    src: url("//d3s9xxce58xg55.cloudfront.net/fonts/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("//d3s9xxce58xg55.cloudfront.net/fonts/SamsungSharpSans-Bold.woff") format("woff");
}

.text-size-smaller {
    font-size: $font-down-1;
}

h1 {
    font: 700 3em "SamsungSharpSans-Bold", "SamsungOne-700";

    @include for-mobile-view {
        font-size: 2em;
    }

}

h2,
h3,
th,
.bold
.badge-wrapper,
.badge-notification.new-posts,
.badge-notification.unread-posts,
.badge-notification[href],
.navigation-container .name {
    @include semiBoldFont;
}

h5 {
    text-transform: uppercase;
    font-size: $font-down-1;
    color: $primary-low-mid;
    @include boldFont;
    margin-bottom: 16px;
}

.archetype-regular .hero,
.badge-category-bg,
.badge-category-parent-bg,
.subcategories .badge-notification.new-posts,
.categories-list ol.category-breadcrumb {
    display: none !important;
}

.topic-excerpt a,
.category-description a,
.footer-message a,
.suggested-topics-message a {
    @include fancyLink;
    position: relative;
}

.link-bottom-line a:hover,
a.title:hover,
.contents a:hover,
.title-wrapper a:hover {
    text-decoration: none;
}

.top-date-string,
.top-lists .btn {
    text-transform: none !important;
}

// LAYOUT
#main > div:first-child {
  @include flexbox();
  flex-direction: column;
  min-height: 100vh;
}

#main-outlet {
    flex: 1 0 auto;
    max-width: calc(100% - 2.5em);
    width: 1440px;
    padding-top: 4em;

    @include for-mobile-view {
        max-width: calc(100% - 1.5em);
    }
}

.d-header-wrap {
    position: fixed;
    width: 100%;
}

.hero-cnt .container,
.list-controls .container,
.custom-footer .container,
.d-header .wrap {
    margin: 0 auto;
    width: 1440px;
    max-width: calc(100% - 2.5em);

    @include for-mobile-view {
        max-width: calc(100% - 1.5em);
    }
}

.directory,
.reviewable,
.badges,
.show-badge,
.groups-header,
.admins,
.cakeday,
.body-page,
.search-container,
.edit-category {
    margin: 24px 0 0 0;
}

.item,
.column {
    align-self: baseline;
}

.column {
  @include flexbox();
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.list-horizontal {
    @include flexbox();
    flex-wrap: wrap;
    margin: 0;
    @include pack(end);
    justify-content: flex-end;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    li {
        @include flexbox();
    }

    @include for-tablet-view {
        @include align(center);
    }
}

tbody,
tr {
    border: none;
}

.center-cnt {
    margin: 0 auto;
}

// COLORS
.dark-bg {
   background-color: $primary;
}

#main {
    background-color: lighten($secondary, 8%);
}

.white-txt {
    color: $secondary;
}

.light-grey-txt {
    color: #AEAEAE;
}

// dark gray
.topic-statuses .topic-status {
    color: $primary-high;
}

.topic-list .main-link a.title,
.topic-list .num.posts a,
.topic-list .num.activity a {
    padding: 0;
}

// ICONS
.icon-link {
    width: 24px;
    height: 24px;
    opacity: .62;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;

    @include for-tablet-view {
        width: 32px;
        height: 32px;
    }
}

.s-ico {
    display: inherit;
    width: 100%;
    height: 100%;

    &:before {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        content: "";
    }

    &:not(svg):before {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.s-ico-facebook:before {
    background-image: url($facebook_icon);
}

.s-ico-twitter:before {
    background-image: url($twitter_icon);
}

.s-ico-instagram:before {
    background-image: url($instagram_icon);
}

.s-ico-github:before {
    background-image: url($github_icon);
}

.s-ico-glitch:before {
    background-image: url($glitch_icon);
}

.s-ico-youtube:before {
    background-image: url($youtube_icon);
}

.s-ico-linkedin:before {
    background-image: url($linkedin_icon);
}

.s-ico-galaxy-store:before {
    background-image: url($galaxy_apps_badge);
}

.s-ico-google-play:before {
    background-image: url($google_play_badge);
}

.s-ico-app-store:before {
    background-image: url($app_store_badge);
}

// BUTTONS
.btn {
  border-radius: 5rem !important;
  text-transform: uppercase;
  @include semiBoldFont;
}

.dismiss-read {
    margin-bottom: 32px !important;
}

.topic-map {
    margin: 16px 0;

    .buttons .btn,
    .buttons .btn:hover {

        background-color: transparent;
        border: none;
    }
}

.popup-menu .btn {
    border-radius: 0px !important;
}

// TABLES
table {
    box-shadow: none !important;

    .category {
        border: none !important;
    }

    .category-description {
        margin-top: 0.4em !important;

        @include for-mobile-view {
            overflow: unset !important;
            padding-top: 16px;
        }
    }

    tr {

        &:nth-child(even) {
            background-color: $header-primary;
        }
    }

    td {
        position: relative;
    }

    .topics {
        text-align: center !important;
        width: 152px !important;

        @include for-tablet-view {
            width: 140px !important;
        }

        .badge-notification {
            text-align: center !important;
            padding: 0;
        }

        .unread-new a {
            color: $primary !important;
            @include boldFont;

            &:after {
                content: "•";
                color: $tertiary;
                margin-left: 0.2rem;
                font-size: $font-up-4;
                line-height: 1px;
                position: relative;
                top: 3px;
            }
        }

    }

}

// FORMS
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.combo-box-header,
.select-kit.combo-box .select-kit-header,
div.ac-wrap,
.select-kit.multi-select .multi-select-header {
    border-radius: 4px;
    min-height: 40px !important;
}

input[type="checkbox"],
input[type="radio"] {
    min-height: auto !important;
}

.input-group-lg > .custom-select,
.input-group-lg > .form-control:not(textarea) {
    height: calc(2em + 1rem + 2px);
}

.form-vertical .control-label {
    @include boldFont;
}

// LOGIN / SIGNUP
#login-form,
.login-form {

    table tr:nth-child(odd) {
        background-color: transparent;
    }

}

#login-buttons {

    .saml {
        display: none !important;
    }
}

// HEADER
.d-header {
    background-color: $primary;
    box-shadow: none;

    .title-wrapper {

        .badge-wrapper {
            background-color: $quaternary;
        }

        .category-name {
            color: $secondary;
        }
    }

    .categories-wrapper {
        top: -8px;
    }

    .topic-statuses,
    .topic-header-extra {
        display: none;
    }

    .header-buttons {
        margin-top: 0;
    }

    .sign-up-button,
    .login-button {
        min-width: 108px;
        font-size: $font-0;
        padding: 12px 8px;

        .fa {
            display: none;
        }
    }

    .login-button {
        margin-left: 16px;
    }
}

.d-header-icons {
    margin-left: 16px;

    .unread-notifications {
        background-color: $tertiary;
        color: $secondary;
    }

    .icon {
        width: 2.5em;
    }

    .d-icon {
        font-size: 1.4em;
    }

    .icon:hover,
    .icon:focus {
        background-color: transparent !important;
    }
}

.custom-header-links {
    padding-right: 16px;

    @include for-tablet-view {
        padding-right: 0;
    }

    @media (max-width: 840px) {
        display: none !important;
    }

    .headerLink {

        a {
            text-transform: uppercase;
            @include boldFont;
            color: $primary !important;
            padding: 0 16px !important;
            font-size: $font-0 !important;
            letter-spacing: 0.05em;

            @include for-tablet-view {
                padding: 0 8px !important;
                font-size: $font-down-1 !important;
            }
        }
    }
}

// MAIN MENU
.menu-panel {

    hr {
        margin: 0.5em 0 0 0;
    }

    .menu-container-admin-links,
    .menu-container-general-links {
        padding: 0.70em 0.95em 0 0.95em;

        &:before {
            @include boldFont;
            display: block;
            margin-bottom: 0.25em;
        }
    }

    .menu-container-admin-links {

        .fa {
            display: none;
        }

        &:before {
            content: "Account Management";
        }
    }

    .menu-container-general-links {

        &:before {
            content: "Sections";
        }

    }

    .category-link a:focus {
        outline: none;
    }

    .category-link a:hover,
    .category-link a:hover span {
        color: $tertiary !important;
    }

    .category-links {
        padding: 0.5em 0.95em 1em 0.95em;
    }

    .categories-separator {
        padding: 0.5em 0 0 0;
        margin: 0 1em;
    }

    .menu-container-footer-links {

        div ul {
            padding: 0.5em 0.95em;
            background-color: transparent;
        }

        hr {
            display: none;
        }

        ul {
            padding: 0.95em;
            background-color: darken($header-primary, 2%);
            display: inline-block;
            width: 100%;
        }
    }

    .heading,
    .heading a {
        @include boldFont;
        color: $primary !important;
    }

    li a.widget-link,
    li.category-link,
    li a.categories-link,
    li.heading a.widget-link,
    li.heading a.categories-link {
        padding: 0.25em 0;
        color: $primary-high;

        &:hover {
            background: transparent;
            color: $tertiary;
        }
    }

    .badge-wrapper,
    .discourse-tags,
    .badge-notification {
        background-color: transparent;
        margin: 0 4px 0 0;
        padding: 0 !important;
        font-size: $font-down-1;
        border: none;

        &.bar span.badge-category {
           color: $primary-high;
           padding: 0;
        }
    }

    span.badge-category {
        max-width: 100px;
        font-family: "SamsungOne-400", Arial, sans-serif;
        font-weight: 400;
    }

    .badge-notification,
    .badge-notification[href],
    .topics-count {
        background-color: transparent !important;
        color: $tertiary !important;

        &:before {
            content: "(";
        }

        &:after {
            content: ")";
        }
    }

    .active-theme {
        position: relative;
        top: 4px;
        left: 4px;
        font-size: $font-up-3;
        line-height: 0;
        color: $success;
    }

}

.hero {
    display: none;
    background-color: $primary;
    background-image: url($bg_smartthings_hero);
    background-attachment: fixed;
    background-position: 450px 60px;
    background-repeat: no-repeat;
    color: $secondary;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 3em 0;
    text-align: center;

    @include for-mobile-view {
        padding: 1em 0;
        background-image: none;

        h1 {
            padding: 0 24px;
            margin: 0;
        }

        h5 {
            display: none;
        }
    }
}

.navigation-categories .hero {
    display: block !important;
}

// CONTENT
.category-Wiki .category-list {

    .category-text-title,
    .category-description {
        margin-left: 0;
    }
}

#list-area .top-lists {
    margin-bottom: 24px;

    h2 {
        margin: 0;
        font-size: $font-0;
    }

    .select-kit.dropdown-select-box.period-chooser .period-chooser-header {
        border: solid 1px $primary-low-mid;
        padding: 0 .75rem;
    }

    .d-icon {
        margin: -1px 0 0 4px !important;
    }
}

.select-kit {

    &.dropdown-select-box.period-chooser .select-kit-collection {
        padding: 0;
    }

    &.dropdown-select-box.period-chooser .period-chooser-row {
        padding: 8px 16px;
        @include boldFont;
    }

}

.list-controls {
    margin-bottom: 24px;
    line-height: 61px;
    width: 100vw;
    margin-left: calc(-50vw + 50%) !important;
    background-color: $header-primary;

    .select-kit-collection {
        line-height: initial;
    }

    .category-heading {
        display: none;
    }

    .nav {
        margin: 0;
    }

    h2 {
        margin: 0 0 0 0.5em;
        font-size: 1.2rem;
        @include boldFont;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        white-space: nowrap;

        a {
            color: $primary;
        }
    }

}

.top-title-buttons .btn {
    text-transform: none;
    font-size: 12px;
    @include boldFont;
}

.modal-inner-container {
    padding: 16px;
    border-radius: 4px;
}

.link-top-line,
.featured-topic {

    .topic-statuses {
        margin-right: 0.5em !important;
    }
}

.styleguide {
    margin-right: 40px;

    .styleguide-menu ul {
        margin-left: 40px;
    }
}

.category {

    .category-logo.aspect-image {
        --max-height: 72px;
        margin: -24px 0 0 0 !important;

        @include for-tablet-view {
            --max-height: 40px;
        }

        @include for-mobile-view {
            --max-height: 32px;
        }
    }

    .subcategories,
    .category-text-title,
    .category-description {
        margin-left: 96px;

        @include for-tablet-view {
            margin-left: 64px;
        }

        @include for-mobile-view {
            margin-left: 40px;
        }

    }
}

.category-list {

    &.with-topics {
        margin: 0;
    }

    td.latest {
        padding: 24px 24px 24px 0 !important;
    }

    td {
        padding: 24px !important;
    }

    .link-bottom-line a,
    .link-bottom-line span {
        @include boldFont;
        color: $primary-medium !important;
    }

    tr:nth-child(9) {
        border-top: solid 40px darken($header-primary, 10%);

        td:first-child:before {
            content: "Private Sections";
            @include boldFont;
            color: $primary;
            position: absolute;
            top: -32px;
            left: 16px;
        }
    }

    .topic-post-badges {
        margin-right: 32px;
    }

    .featured-topic {
        margin: 0 0 8px 0;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &:first-of-type {
            margin-top: 0;
        }

        .title {
            color: $primary;

            &:visited {
                color: $primary-medium;;
            }
        }
    }

    .subcategories .subcategory {
        margin: 0;
    }
}

.last-posted-at {
    position: absolute;
    right: 0;
    top: 2px;
}

.topic-body {
    width: calc(85% - 0px);

    .topic-meta-data {
        padding: 8px 0 0 56px;
        min-height: 45px;
    }

    @include for-mobile-view {
        width: calc(100% - 0px);
    }
}

.post-notice  {
    max-width: calc(85% + 8px);

    @include for-mobile-view {
        max-width: calc(100% + 8px);
    }
}

.timeline-container {
    right: 0;

    .topic-admin-popup-menu {
        right: 0;
        left: unset !important;
    }

}

.topic-admin-popup-menu {

    .d-button-label {
        text-transform: none;
    }

}

.user-main {
    margin-top: 24px;

    .staff-counters {
        background-color: $header-background;
        border-radius: 5rem;

        &>div,
        &>div a {
            color: $primary;

            span {
               color: $secondary;
            }
        }
    }
}

.user-info {
    background-color: transparent !important;
}

ol.category-breadcrumb {
    margin: 0;

    li {
        display: none;
    }

    li:first-child {
        margin: 0;
        display: block;
        text-transform: capitalize;

        .combo-box-header {
            border: none;
            border-radius: 0px;
            background-color: transparent;
        }

        .badge-wrapper,
        span.badge-category {
            background: none;
            margin: 0 !important;
            padding: 0 !important;
            line-height: normal;
        }

    }

}

.blurb {
    padding: 0 !important;
}

.read-state {
    right: -20px;
}

.selected-tag {
    min-height: auto;
    line-height: unset;
}

.extra-info-wrapper .header-title {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.4;
}

.category-description {
    color: $primary !important;
}

.small-action,
.post-notice {
    border-top: none;
}

.reviewable-filters {
    background-color: darken($header-primary, 4%);
}

.groups-boxes .group-box,
.badge-card .badge-contents {
    background-color: $secondary;
    border-radius: 4px;
}

// NOTIFICATION
.navigation-categories,
.navigation-topics,
[class*="category"] {

    .consent_banner {
        margin-bottom: 0;
    }
}

.consent_banner {
    padding: 16px 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%) !important;
    margin-right: 0;

    span {
        margin-left: 40px;

        @include for-tablet-view {
            margin-left: 16px;
        }
    }

    .d-button-label {
        margin-left: 0;

        @include for-tablet-view {
            margin-left: 16px;
        }
    }

    .close {
        font-size: $font-0;
        top: 0;
        bottom: 0;
        right: 40px;

        @include for-tablet-view {
            right: 16px;
        }

        @include for-mobile-view {
            top: 16px;
        }
    }
}

.show-more.has-topics {
    position: relative;
}

.alert.alert-success a {
    color: $primary;
    text-decoration: underline;
}

// BADGE
.badge-wrapper {
    background-color: darken($header-primary, 8%);
    padding: 1px 3px;
    border-radius: 16px;
    margin: 0.25em 0;
    font-size: $font-down-1;
    @include semiBoldFont;

    .badge-category .category-name {
        margin-right: 0;
    }
}

.badge-notification.new-topic::before {
    color: $tertiary;
}

.topic-post .row {
    position: relative;
}

.small-action .topic-avatar {
    position: relative;

    .d-icon {
        font-size: 1.2em;
    }
}

.topic-avatar {
    position: absolute;
    top: 8px;
    left: 16px;
}

#topic-progress-wrapper {
    right: 0 !important;

    #topic-progress {
        margin-left: 8px;
    }
}

.tag-box {

    .discourse-tag.simple,
    .discourse-tag.simple:visited {
        color: $tertiary;
    }
}

// FOOTER
.custom-footer {

    .newsletter {
        padding: 2.5em 0;
        text-align: center;

        @include for-mobile-view {
            h3 { text-align: left; }
        }

        input {
            min-width: 148px;
        }

        .input-group {
            @include flexbox();
            flex-wrap: wrap;
            align-items: stretch;
            margin: 1em auto 0 auto;
            position: relative;
            width: 35%;

            .icon {
                position: absolute;
                top: .6em;
                left: 1em;
            }

            @include for-tablet-view {
                width: 70%;
            }

            @include for-mobile-view {
                width: 100%;
            }
        }

        form {
            margin: 0;
        }

        .form-control {
            background-color: transparent;
            border-width: 2px;
            border-color: $secondary-medium;
            border-radius: 5rem;
            color: $secondary-medium;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            flex: 1 1 0%;
            height: 40px;
            position: relative;
            padding-left: 2.5em;

            &::placeholder,
            :-ms-input-placeholder,
            ::-ms-input-placeholder {
                color: $secondary-medium;
            }

            @include for-mobile-view {
                flex-basis: 100%;
            }
        }

        .input-group-append {
            margin-left: .5em;

            @include for-mobile-view {
                margin: 0 auto;
            }
        }

        #subscribe-result {
            margin-top: 1rem;
            width: 100%;
            color: $secondary-medium;
        }
    }

    .footer-links {
        background: lighten($secondary, 8%);
        padding: 1em 0;

        .menu-btn {
            display: none;
        }

        .links {
            @include flexbox();
            flex-wrap: wrap;
            justify-content: center;

            @media (max-width: 1214px) {
                flex-direction: column-reverse;
            }

            .first-box,
            .second-box {
                flex: 1;
                padding: 0 4.5em;

                @media (max-width: 1214px) {
                    flex: 0;
                }

                @include for-tablet-view {
                    padding: 0 3em;
                }

                @include for-mobile-view {
                    padding: 0;
                }
            }

            .first-box {

                @media (max-width: 1214px) {
                    margin-top: 2em;
                }
            }

            .second-box {
                border-left: solid 1px darken($header-primary, 10%);

                @media (max-width: 1214px) {
                    border-left: none;
                }
            }

            ul {
                overflow: hidden;
                margin: 0;
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
                -webkit-column-gap: 3em;
                -moz-column-gap: 3em;
                column-gap: 3em;

                @include for-mobile-view {
                    -webkit-column-count: 1;
                    -moz-column-count: 1;
                    column-count: 1;
                }

                li {
                    list-style: none;
                    margin: 0 0 .5em 0;

                    a,
                    &:hover {
                        color: $primary;
                        @include semiBoldFont;
                    }

                    @include for-mobile-view {
                        margin: 0 0 1em 0;
                    }
                }

                .social-icons {
                    @include inline-flexbox();

                    a {
                        display: block;
                        width: 24px;
                        height: 24px;
                        margin-right: .5em;

                        @include for-mobile-view {
                            width: 32px;
                            height: 32px;
                            margin-right: 1em;
                        }
                    }
                }
            }
        }

        .download {
            margin-top: 2.5em;
            padding-top: 2.5em;
            border-top: solid 1px darken($header-primary, 10%);
            text-align: center;

            @include for-mobile-view {
                text-align: left;
            }

            .app-icons {
                margin: 1em 0 1.500em 0;
                @include inline-flexbox();
                list-style: none;

                a {
                    display: inline-block;
                    margin-right: 1em;
                    height: 40px;
                }

                .galaxy-store-link,
                .google-play-link,
                .app-store-link {
                    width: 148px;
                }
            }
        }

        .copyright {
            color: $primary;
            font-size: $font-down-1;
            @include semiBoldFont;
            padding-top: 1em;
            text-align: center;
        }
    }
}

// ADMIN
.admin-interface {

    .admin-content {

        .nav-stacked li {
            width: 100%;
        }

        .channel-footer {
            padding: 16px 8px;
        }
    }

    .admin-contents {

        .overridden {
            padding: 16px;
        }

        .show-current-style .row {
            margin: 0;
        }

    }

}

#simple-container {
    text-align: center
}

// MEDIA QUERIES
@include for-mobile-view {

    .hide-mobile,
    .posters,
    .category-list th,
    .unread-new,
    .progress-back,
    .discourse-tags,
    .newsletter br {
        display: none !important;
    }

    .d-header-icons,
    .d-header .login-button {
        margin-left: 8px;
    }

    .category-list td:last-child {
        padding-top: 0 !important;
    }

    .category-list td {
        display: block;
        width: 90% !important;

        &:last-child {
            padding: 0 16px 16px 16px !important;
        }

        .value:before {
            content: "Topics: ";
            @include boldFont;
            color: $primary;
        }

        .posts-map a:before {
            content: "Replies: ";
            @include boldFont;
            color: $primary;
        }

        .post-activity:before {
            content: "Activity: ";
            @include boldFont;
            color: $primary;
        }

    }

    #topic-progress {
        margin-left: 8px;
    }

    .topic-area {
        width: 100%;
    }

    .category-text-title {
        position: relative;
        top: 5px;
    }
}

[data-theme-table="tbl-vertical-align-top"],
[data-theme-table="tbl-vertical-align-middle"] {

    table {
        width: 100%;


        th {
            font-size: $font-up-1;
            border: solid 1px lighten($primary, 72%);
            background-color: $header-primary;
            padding: 0.5em !important;
        }

        td {
            text-align: left;
            border: solid 1px lighten($primary, 72%);
        }
    }

}

[data-theme-table="tbl-vertical-align-top"] {

    td {
        vertical-align: top;
    }

}

[data-theme-table="tbl-vertical-align-middle"] {

    td {
        vertical-align: middle;
    }

}

