// functions  --------------------------------------------------------------------------------

// Variables  ---------------------------------------------------------------------------------
$v-forum-background: url(#{$forum_background}) !default;
$v-forum-banner: url(#{$banner-forum}) !default;
$v-downloads-wrapper: url(#{$downloads-wrapper}) !default;
$v-proxima-nova-400: url(#{$proxima-nova-400}) !default;
$v-proxima-nova-400-woff: url(#{$proxima-nova-400-woff}) !default;
$v-proxima-nova-400-ttf: url(#{$proxima-nova-400-ttf}) !default;
$v-mont-otf: url(#{$mont-otf}) !default;

/** Proxima Nova **/

@font-face {
  font-family: "Proxima Nova";
  src: $v-proxima-nova-400;
  src: $v-proxima-nova-400-woff format("woff"),
    $v-proxima-nova-400-ttf format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// @font-face {
// 	font-family: 'Mont';
// 	src:url('fonts/Mont-ExtraLight.otf') format('opentype');
// 	font-weight: 300;
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face {
  font-family: "Mont";
  src: $v-mont-otf format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// backgrounds --------------------------------------------------------------------------------

#main-outlet {
  background: white;
  overflow: auto;
}

// body background ----------------------------------------------------------------------------

body {
  background: $v-forum-background;
  background-size: 100% auto;
  background-repeat: repeat-y;
  font-family: "Proxima Nova" !important;
}

.sparkle--mont__900 {
  font-family: "Mont" !important;
  font-weight: 900;
}

.appdownload--wrapper {
  background-image: $v-downloads-wrapper;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;

  .pattern1 {
    top: 10%;
    left: 22%;
    z-index: 1;
  }
  .pattern2 {
    bottom: 20px;
    right: 15%;
  }
}

.community-hero {
  background: $v-forum-banner;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  height: 100vh;
}

// category badge box -------------------------------------------------------------------------

a.badge-wrapper.box {
  padding: 5px 10px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #dadada;
}

/*Footer area */

footer.sparkle--footer {
  background: #000;

  .footer__description {
    color: #fff;
    font-size: 14px;
  }

  .footer__title {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 35px;
  }

  ul {
    margin-left: 0px;
  }

  ul li a {
    color: #fff;
    font-size: 16px;
  }

  ul li a:hover {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.4;
  }

  ul li a.active {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.4;
  }
}

.footer__disclaimer {
  color: #fff;
  font-size: 14px;
}

.category-text-title {
  span.category-name {
    font-family: Mont;
    font-weight: 900;
  }
}

// .category-list {
//   margin-bottom: 10px;
//   width: 100%;
// }
// .category-list td {
//   vertical-align: top;
// }
// .category-list th {
//   vertical-align: middle;
// }
// .category-list td:first-of-type {
//   padding-left: 10px;
// }
// .category-list.with-topics {
//   margin-left: 3px;
// }
// .category-list.with-topics .category {
//   width: 45%;
// }
// .category-list .topics .badge-notification,
// .category-list .category .badge-notification {
//   background-color: transparent;
//   color: var(--primary-med-or-secondary-high);
// }
// .category-list .topics {
//   width: 80px;
//   text-align: right;
// }
// .category-list .topics .value {
//   font-size: 1.1487em;
//   font-weight: bold;
// }
// .category-list .topics .unit {
//   font-size: 0.8706em;
// }
// .category-list .topics .badge-notification {
//   display: block;
//   text-align: right;
//   padding-right: 0;
//   margin-top: 5px;
// }
// .category-list .subcategories {
//   margin-top: 0.25em;
//   clear: both;
// }
// .category-list .subcategories .subcategory {
//   display: inline-flex;
//   align-items: baseline;
//   margin-right: 0.3em;
// }
// .category-list .subcategories .badge-wrapper {
//   margin-right: 0.5em;
// }
// .category-list .subcategories .badge-notification.new-posts {
//   display: block;
//   padding: 0;
// }
// .category-list .featured-topic {
//   margin: 10px 0 0;
//   display: flex;
//   align-items: baseline;
// }
// .category-list .featured-topic:first-of-type {
//   margin-top: 13px;
// }
// .category-list .featured-topic a.last-posted-at,
// .category-list .featured-topic a.last-posted-at:visited {
//   font-size: 0.8706em;
//   color: var(--primary-med-or-secondary-high);
// }
// .category-list .featured-topic .title {
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   flex: 0 1 auto;
// }
// .category-list .featured-topic .topic-statuses {
//   margin-right: 0.15em;
// }
// .category-list .featured-topic .topic-post-badges .badge.new-posts,
// .category-list .featured-topic .title {
//   margin-right: 5px;
// }
// .category-list tbody .category {
//   border-left: 6px solid;
// }
// .category-list tbody .category h3,
// .category-list tbody .category h4 {
//   line-height: 1.2;
// }
// .category-list tbody .category h3 a[href],
// .category-list tbody .category h4 a[href] {
//   color: var(--primary);
// }
// .category-list tbody .category h3 {
//   font-size: 1.3195em;
// }
// .category-list tbody .category h4 {
//   font-size: 1.1487em;
// }
// .category-list tbody .latest {
//   padding: 0 0 10px 10px;
// }
// .categories-and-latest,
// .categories-and-top {
//   display: flex;
//   flex-flow: row wrap;
// }
// .categories-and-latest div.column,
// .categories-and-top div.column {
//   flex: 1 0 0px;
//   flex-direction: row;
//   min-width: 300px;
// }
// @media all and (max-width: 600px) {
//   .categories-and-latest div.column.categories,
//   .categories-and-top div.column.categories {
//     margin-right: 0;
//   }
// }
// @media all and (min-width: 600px) {
//   .categories-and-latest div.column.categories,
//   .categories-and-top div.column.categories {
//     margin-right: 1em;
//   }
// }
// @media all and (min-width: 700px) {
//   .categories-and-latest div.column.categories,
//   .categories-and-top div.column.categories {
//     margin-right: 2em;
//   }
// }
// .categories-and-latest .discourse-tags,
// .categories-and-top .discourse-tags {
//   display: inline-block;
// }
// .categories-and-latest .discourse-tags .discourse-tag,
// .categories-and-top .discourse-tags .discourse-tag {
//   font-size: 0.8706em;
// }
// .categories-and-latest .topic-featured-link,
// .categories-and-top .topic-featured-link {
//   padding-left: 8px;
// }
// .categories-and-latest .subcategories-with-subcategories .category-description,
// .categories-and-top .subcategories-with-subcategories .category-description {
//   display: none;
// }
